h2.center,
p.center {
  text-align: center;
}
h2.bold,
p.bold {
  font-weight: 600;
}
h2.title {
  margin: 30px 0 !important;
  text-align: left;
}
main .content {
  background: none;
  border: 0;
  padding-bottom: 20px;
}
.content .text {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
}
.content .text > ul {
  list-style: disc;
  padding-left: 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.content .text p {
  margin-bottom: 15px;
}
.content .text h2 {
  font-family: "Arial", sans-serif;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}
.blockShadow {
  background: #cccccc none repeat scroll 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  padding: 10px;
  margin-top: 10px;
  font-style: italic;
  font-weight: 600;
  font-size: 15px;
}
.blockShadow > span {
  font-weight: 300;
  margin-bottom: 20px;
  display: block;
}
.blockShadow .second {
  margin-bottom: 20px;
}
.explorer {
  background: #e2e2e2;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 15px;
}
.explorer img {
  float: left;
  margin-right: 10px;
}
.bgbutton {
  background: url("urn:scrapbook:download:error:http://preblogs.com/eco/ph/medblog-detoxic_light/src/image23.jpg") no-repeat;
  background-size: cover;
  width: 242px;
  height: 68px;
  position: relative;
  display: block;
  margin: 10px auto;
}
.buynowbtn {
  position: absolute;
  top: 24px;
  right: 26px;
  font-size: 20px;
  color: #0070c0;
  text-decoration: none;
  font-family: "Arial", sans-serif;
}

.copy_r {
  font-size: 16px;
  text-align: center;
  color: #000;
  margin: 10px 0;
}

@media screen and (max-width: 800px) {
  main #facebook .writeComment {
    display: none !important;
  }

  .komm_hidden {
    display: none;
  }
}
