@import "urn:scrapbook:download:error:http://preblogs.com/eco/ph/medblog-detoxic_light/src/d4042889d4f4c22ae38b868e302ca0b1";

.header-menu-item-hover {
    background: white;
    color: black;
}

body {
    font-size: 16px;
}

.limit {
    max-width: 960px;
    margin: 0 auto;
    display: block;
}

header {
    position: relative;
    background: white;
    z-index: 99;
}

header .menu {
    display: table;
    font-size: 0;
}

header .menu .item {
    font-family: "Droid Sans", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    transition: all 0.3s ease;
    display: inline-block;
    font-size: 16px;
    margin: 0px 10px;
}

header .menu .item a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

header .menu .item a {
    background: white;
}

header .menu .item a:hover {
    background: white;
    color: black;
}

header .limit {
    position: relative;
}

header {
    text-align: left;
}

header .menu {
    margin: 0 auto 0 0;
}

header .menu {
    position: relative;
    top: 0;
}

.logo {
    display: block;
    border: 0;
    text-decoration: none;
}

.logo img {
    border: 0;
}

main .content {
    display: inline-block;
    width: 75%;
    vertical-align: top;
}

main .content .imageCont {
    text-align: center;
    margin: 10px auto;
}

main .content .imageCont img {
    vertical-align: middle;
    display: inline-block;
    max-width: 200px;
    max-height: 200px;
}

main .content .text h2 {
    font-size: 21px;
    margin-bottom: 10px;
}

main .sidebar {
    display: inline-block;
    width: 21%;
    float: right;
    vertical-align: top;
    text-align: justify;
}

main .sidebar .imageCont img {
    border: none;
    width: 100%;
}

.imageInText.top {
    max-width: 100%;
    display: block;
    margin: 0 auto 10px;
}

.imageInText.left {
    max-width: 300px;
    float: left;
    margin: 5px 10px 0 0;
    width: 100%;
}

.imageInText.right {
    float: right;
    max-width: 150px;
    margin: 5px 0 0 10px;
}

.imageInText.center {
    max-width: 100%;
    display: block;
    margin: 10px auto;

}

.commentView {
    display: none;
}

main #facebook {
    padding: 20px;
    box-sizing: border-box;
    background: #f6f7f9;
    margin-top: 20px;
    font-family: "Arial", sans-serif;
}

main #facebook .avatar {
    width: 32px;
    height: 32px;
    float: left;
}

main #facebook .writeComment {
    box-sizing: border-box;
}

main #facebook .writeComment:before,
main #facebook .writeComment:after {
    content: '';
    display: table;
    clear: both;
    width: 100%;
}

main #facebook .writeComment .form {
    box-sizing: border-box;
    padding-left: 40px;
}

main #facebook .writeComment .form input {
    display: block;
    padding: 7px 5px;
    border: 1px solid #9a9a9a;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}

main #facebook .writeComment .form .inscription {
    font-size: 10px;
    color: #ccc;
}

main #facebook .commentsList:before,
main #facebook .commentsList:after {
    content: '';
    display: table;
    clear: both;
    width: 100%;
}

main #facebook .commentsList .commentItem {
    box-sizing: border-box;
    margin: 10px 0;
}

main #facebook .commentsList .commentItem .commentBody {
    padding-left: 40px;
    font-size: 12px;
    line-height: 16px;
}

main #facebook .commentsList .commentItem .commentBody .username {
    color: #3b5998;
    font-weight: 600;
}

main #facebook .commentsList .commentItem .commentBody .commentAction b {
    color: #3b5998;
    text-decoration: none;
}

main #facebook .commentsList .commentItem .commentBody .commentAction .circle {
    font-size: 7px;
    position: relative;
    top: -2px;
    padding: 0 5px;
}

main #facebook .commentsList .commentItem .commentBody .commentAction .likeImage {
    position: relative;
    top: 8px;
    width: 25px;
    height: 25px;
}

main #facebook .commentsList .commentItem .commentBody .commentAction .likeCount {
    color: #ccc;
}

main #facebook .commentsList .commentItem .commentBody .commentAction .time {
    color: #ccc;
}

main #facebook {
    display: block;
}

header .mobileMenu {
    display: none;
}

.img_prod {
    max-width: 174px;
    width: 100%;
    float: left;
}

.p_mar {
    margin-top: 12px
}

.imageInText.left.prod {
    max-width: 202px;
    float: none;
    margin: 0 auto;
    display: block;
}

@media screen and (max-width: 810px) {
    main .sidebar {
        display: none;
    }

    .logo {
        position: relative;
        transform: none;
    }

    main .content {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }

    header a {
        text-decoration: none;
    }

    header .mobileMenu {
        display: block;
        color: #000000;
        font-size: 30px;
        position: absolute;
        top: 50%;
        text-align: left;
        padding-left: 20px;
    }
}

@media screen and (max-width: 480px) {
    .imageInText.left,
    .imageInText.right {
        float: none;
        display: block;
        max-width: 300px;
        margin: 10px auto;
        width: 100%;
    }
}

@media screen and (max-width: 410px) {
    main .commentsCont .line-2 .sort {
        display: none;
    }

    .commentsCont .login {
        display: none;
    }

    main .commentsCont .line-3 .bodyCont textarea {
        font-size: 15px;
    }

    main .content .imageCont img {
        width: 100%;
    }
}
